/* line 14, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor-toolbar .toolbarDivider,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarDivider, #burntIcingEditor .mainToolbar .toolbarButton, #burntIcingEditor .mainToolbar .toolbarButton-selected, #burntIcingEditor .blockItemToolbar .toolbarButton, #burntIcingEditor .textItemEditor-toolbar .toolbarButton,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton, #burntIcingEditor .blockItemToolbar .secondaryButton {
  display: inline-block;
  margin: 0;
  padding: 3px 6px;
  font-size: 12px;
  white-space: nowrap;
  border: none;
  background: none;
}

/* line 28, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar .toolbarButton, #burntIcingEditor .mainToolbar .toolbarButton-selected, #burntIcingEditor .blockItemToolbar .toolbarButton, #burntIcingEditor .textItemEditor-toolbar .toolbarButton,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton {
  border-radius: 2px;
}

/* line 34, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar .toolbarButton-selected:active, #burntIcingEditor .textItemEditor-toolbar .toolbarButton-selected:active,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected:active, #burntIcingEditor .mainToolbar .toolbarButton, #burntIcingEditor .blockItemToolbar .toolbarButton, #burntIcingEditor .textItemEditor-toolbar .toolbarButton,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton {
  color: #111111;
  background-color: #f7f7f7;
}

/* line 39, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar .toolbarButton-selected:active, #burntIcingEditor .textItemEditor-toolbar .toolbarButton-selected:active,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected:active, #burntIcingEditor .mainToolbar .toolbarButton:hover, #burntIcingEditor .block-edited .blockItemToolbar .toolbarButton-selected,
#burntIcingEditor .block-active .blockItemToolbar .toolbarButton-selected, #burntIcingEditor .textItemEditor-toolbar .toolbarButton:hover,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton:hover {
  background-color: white;
}

/* line 43, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar .toolbarButton:active, #burntIcingEditor .textItemEditor-toolbar .toolbarButton:active,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton:active, #burntIcingEditor .mainToolbar .toolbarButton-selected, #burntIcingEditor .block-active .blockItemToolbar .toolbarButton:hover, #burntIcingEditor .textItemEditor-toolbar .toolbarButton-selected,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected {
  color: white;
  background-color: #6a6a6a;
}

/* line 48, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar .toolbarButton:active, #burntIcingEditor .textItemEditor-toolbar .toolbarButton:active,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton:active, #burntIcingEditor .mainToolbar .toolbarButton-selected:hover, #burntIcingEditor .textItemEditor-toolbar .toolbarButton-selected:hover,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected:hover {
  background-color: #5c5c5c;
}

/* line 88, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar .secondaryButton {
  font-size: 11px;
  line-height: 1.2;
  padding: 3px;
  color: #888;
  border-radius: 2px;
}

/* line 98, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar .secondaryButton:hover {
  color: #444;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 107, ../../src/styles/main.scss */
body {
  background-color: #eeeeee;
}

/* line 118, ../../src/styles/main.scss */
#burntIcingEditor {
  position: relative;
  font-family: 'Helvetica Neue', sans-serif;
  max-width: 400px;
  margin: auto;
  margin-top: 48px;
  left: -20%;
  padding-bottom: 160px;
}
/* line 129, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 48px;
  padding-left: 20px;
  padding-top: 11px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.9);
}
/* line 143, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar .toolbarButton {
  font-size: 14px;
}
/* line 154, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar_availableDocumentsSelect,
#burntIcingEditor .mainToolbar_availableDocumentsSingle {
  display: inline-block;
  margin-left: 1em;
  font-size: 14px;
  font-style: italic;
}
/* line 170, ../../src/styles/main.scss */
#burntIcingEditor .blocks {
  -webkit-transition: left 0.7s ease-out, background-color 0.25s ease;
          transition: left 0.7s ease-out, background-color 0.25s ease;
}
/* line 180, ../../src/styles/main.scss */
#burntIcingEditor .block {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.3;
  min-height: 19.5px;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
/* line 189, ../../src/styles/main.scss */
#burntIcingEditor .block.block-edited, #burntIcingEditor .block:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 198, ../../src/styles/main.scss */
#burntIcingEditor .block-heading {
  font-size: 36px;
}
/* line 202, ../../src/styles/main.scss */
#burntIcingEditor .block-subhead1 {
  font-size: 24px;
}
/* line 206, ../../src/styles/main.scss */
#burntIcingEditor .block-subhead2 {
  font-size: 21px;
}
/* line 210, ../../src/styles/main.scss */
#burntIcingEditor .block-subhead3 {
  font-size: 18px;
}
/* line 214, ../../src/styles/main.scss */
#burntIcingEditor .block-placeholder {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 218, ../../src/styles/main.scss */
#burntIcingEditor .block-placeholder:hover {
  background-color: rgba(0, 0, 0, 0.0625);
}
/* line 222, ../../src/styles/main.scss */
#burntIcingEditor .block-placeholder.block-edited {
  background-color: white;
}
/* line 229, ../../src/styles/main.scss */
#burntIcingEditor .textItem {
  border: 1px dotted transparent;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
/* line 234, ../../src/styles/main.scss */
#burntIcingEditor .textItem-edited {
  border: 1px dotted white;
  background-color: white;
}
/* line 239, ../../src/styles/main.scss */
#burntIcingEditor .textItem-hasTrait-bold .text {
  font-weight: bold;
}
/* line 243, ../../src/styles/main.scss */
#burntIcingEditor .textItem-hasTrait-italic .text {
  font-style: italic;
}
/* line 253, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  opacity: 0.4;
  padding-right: 40px;
  text-align: right;
}
/* line 263, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar .toolbarButton {
  display: block;
  width: 100%;
  text-align: right;
  background-color: transparent;
}
/* line 273, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar .secondaryButton {
  display: none;
}
/* line 284, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar_typeChooser {
  background-color: #f7f7f7;
}
/* line 288, ../../src/styles/main.scss */
#burntIcingEditor .block:hover .blockItemToolbar {
  opacity: 0.6;
}
/* line 292, ../../src/styles/main.scss */
#burntIcingEditor .block:hover .secondaryButton {
  display: inline-block;
}
/* line 297, ../../src/styles/main.scss */
#burntIcingEditor .block-active .blockItemToolbar,
#burntIcingEditor .block-active:hover .blockItemToolbar {
  opacity: 1.0;
  z-index: 2000;
}
/* line 313, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor {
  position: absolute;
  left: 100%;
  margin-top: -33px;
  margin-left: 40px;
}
/* line 320, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor textarea {
  width: 500px;
  height: 140px;
  margin-top: 8px;
  padding: 10px;
  font-size: 17px;
  line-height: 1.3;
  background-color: white;
  border: none;
}
/* line 332, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_instructions {
  font-size: 11px;
  color: #777777;
}
/* line 336, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_instructions_split {
  float: right;
}
/* line 342, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor-toolbar,
#burntIcingEditor .textItemEditor_traitsToolbar {
  clear: both;
}
/* line 356, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor-toolbar .toolbarButton,
#burntIcingEditor .textItemEditor-toolbar .toolbarDivider,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarDivider {
  margin-right: 4px;
}
/* line 377, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor-toolbar-split {
  float: right;
  margin-right: 0;
}
/* line 384, ../../src/styles/main.scss */
#burntIcingEditor .placeholderEditor {
  position: absolute;
  left: 100%;
  margin-top: -23px;
  margin-left: 40px;
}
/* line 391, ../../src/styles/main.scss */
#burntIcingEditor .placeholderEditor-IDField {
  width: 500px;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 1.3;
  background-color: white;
  border: none;
}
/* line 401, ../../src/styles/main.scss */
#burntIcingEditor .previewHTMLHolder {
  white-space: pre-wrap;
}
@media (max-width: 1100px) {
  /* line 118, ../../src/styles/main.scss */
  #burntIcingEditor {
    left: 0;
  }
  /* line 412, ../../src/styles/main.scss */
  #burntIcingEditor .blocks-hasEditedBlock {
    position: relative;
    left: -480px;
  }
}
