$mainFontFamily: 'Helvetica Neue', sans-serif;

$darkColor: #111;
$darkLiftColor: #555;
$backgroundColor: #f8f8f8;
$backgroundColor: #eee;
$backgroundColor: #ececec;
$backgroundColor: #efefef;
$toolbarButtonTextColor: $darkColor;
$toolbarButtonBackgroundColor: #f7f7f7;
$toolbarButtonSelectedTextColor: white;
//$toolbarButtonSelectedBackgroundColor: #404040;
$toolbarButtonSelectedBackgroundColor: #6a6a6a;
$toolbarButtonSelectedBackgroundColor: #5f5f5f;
$inputBackgroundColor: white;

$holderBorderRadius: 2px;

//$slightBoxShadow: 0 1px 1px rgba(darken(white, 50%), 0.2);
$slightBoxShadow: 0 1px 1px rgba(black, 0.1);

$editSliderTransitionDuration: 0.7s;
$hoverTransitionDuration: 0.25s;

$boxBorderRadius: 2px;

$mainFooterHeight: 20px;

$zIndexMainToolbar: 1000;
$zIndexActiveMenu: 2000;


$editorMainToolbarHeight: 40px;
$editorPreviewMaxWidth: 400px;
$editorPreviewWidth: 40vw;
$editorInputMaxWidth: 40vw;
$editorInputWidth: 500px;

$fieldsPadding: 10px;