// SUBSECTIONS

.block-inSubsection-unorderedList {
	&:before {
		content: '•';
		position: absolute;
		left: -0.5em;
	};
}

.block-inSubsection-orderedList {
	&:before {
		content: attr(data-subsection-child-index) ".";
		position: absolute;
		left: -2.2em;
		min-width: 1.9em; // Leave a little bit of space on the right.
		text-align: right;
		opacity: 0.45;
	}
}

.block-inSubsection-quote {
	.block_textItems {
		margin-left: 1em;
		margin-right: 1em;
	}
}

// BLOCKS

.block-text-body .text
{
	
}
.block-text-heading .text
{
	font-size: 36px;
}
.block-text-subhead1 .text
{
	font-size: 24px;
}
.block-text-subhead2 .text
{
	font-size: 21px;
}
.block-text-subhead3 .text
{
	font-size: 18px;
}


.block-media-externalImage-HTMLRepresentation {
	img {
		max-width: $editorPreviewMaxWidth;
	}
}

// TEXT ITEMS

.textItem-hasTrait-bold .text
{
	font-weight: bold;
}
.textItem-hasTrait-italic .text
{
	font-style: italic;
}
.textItem-hasTrait-link .text {
	border-bottom: 1px dotted rgba(20, 200, 255, 1.0);
}

.textItem-hasTrait-lineBreakAfter .text:after {
	//content: "\a"; // Carriage return (doesn't work?)
	content: "";
	display: block;
}

.textItem-hasTrait-hide .text {
	opacity: 0.5;
}
