%editorBlockStyle
{
	border-top: 1px solid rgba(white, 0.18);
	background-color: rgba(white, 0.15);
	box-shadow: 0 1px 1px rgba(black, 0.06);
}
@mixin editorBlockStyle()
{
	@extend %editorBlockStyle;
}


%smallUIHeading
{
	margin: 0;
	padding: 0;
	font-family: $mainFontFamily;
	font-size: 10px;
	font-weight: normal;
}


%toolbarItem
{
	display: inline-block;
	margin: 0;
	padding: 3px 6px;
	font-size: 12px;
	white-space: nowrap;
	border: none;
	background: none;
}
%toolbarDivider
{
	@extend %toolbarItem;
}
%toolbarButton
{
	@extend %toolbarItem;
	
	border-radius: $boxBorderRadius;
}
%toolbarButton_small
{
	@extend %toolbarItem;
	
	padding: 3px 6px;
	font-size: 10px;
	border-radius: 2px;
}
%toolbarButton_light
{
	color: $toolbarButtonTextColor;
	@include toolbarButtonBackgroundColor();
}
%toolbarButton_light_hover
{
	@include toolbarButtonBackgroundColor($active: true);
}
%toolbarButton_dark
{
	color: $toolbarButtonSelectedTextColor;
	background-color: $toolbarButtonSelectedBackgroundColor;
}
%toolbarButton_dark_hover
{
	background-color: lighten($toolbarButtonSelectedBackgroundColor, 3.5%);
}
%toolbarButton_light_pressed
{
	background-color: darken($toolbarButtonBackgroundColor, 1.1%);
}
%toolbarButton_light_pressed_dark
{
	@extend %toolbarButton_dark;
	@extend %toolbarButton_dark_hover;
}
%toolbarButton_dark_pressed
{
	background-color: darken($toolbarButtonSelectedBackgroundColor, 5.5%);
}
%toolbarButton_dark_pressed_light
{
	@extend %toolbarButton_light;
	@extend %toolbarButton_light_hover;
}

@mixin toolbarButton_light($small: false, $pressedIsDark: false, $shadow: true) {
	& {
		@extend %toolbarButton;
		@extend %toolbarButton_light;
		
		@if $small {
			@extend %toolbarButton_small;
		}
		
		@if $shadow {
			@include slightBoxShadow();
		}
	}
	&:hover {
		@extend %toolbarButton_light_hover;
	}
	&:active {
		@if $pressedIsDark {
			@extend %toolbarButton_light_pressed_dark;
		}
		@else {
			@extend %toolbarButton_light_pressed;
		}
	}
}
@mixin toolbarButton_dark($small: false, $shadow: false, $showBackground: true) {
	& {
		@extend %toolbarButton;
		
		@if $showBackground {
			@extend %toolbarButton_dark;
		}
		@else {
			color: $toolbarButtonSelectedTextColor;
		}
		
		@if $small {
			@extend %toolbarButton_small;
		}
		
		@if $shadow {
			@include slightBoxShadow();
		}
	}
	&:hover {
		@extend %toolbarButton_dark_hover;
	}
	&:active {
		@extend %toolbarButton_dark_pressed;
	}
}

%secondaryButton
{
	@extend %toolbarItem;
	
	font-size: 11px;
	line-height: 1.2;
	padding: 3px;
	color: #888;
	border-radius: 2px;
}
%secondaryButton-hover
{
	color: #444;
	background-color: rgba(white, 0.3);
}