$mainFontFamily: 'Helvetica Neue', sans-serif;

$darkColor: #111;
$darkLiftColor: #555;
$backgroundColor: #f8f8f8;
$backgroundColor: #eee;
$toolbarButtonTextColor: $darkColor;
$toolbarButtonBackgroundColor: #f7f7f7;
$toolbarButtonSelectedTextColor: white;
//$toolbarButtonSelectedBackgroundColor: #404040;
$toolbarButtonSelectedBackgroundColor: #6a6a6a;
$inputBackgroundColor: white;

$editSliderTransitionDuration: 0.7s;
$hoverTransitionDuration: 0.25s;

$boxBorderRadius: 2px;

$mainFooterHeight: 20px;

$zIndexMainToolbar: 1000;
$zIndexActiveMenu: 2000;


$editorMainToolbarHeight: 40px;
$editorPreviewWidth: 400px;
$editorInputWidth: 500px;

$fieldsPadding: 10px;