@import 'constants';
@import 'mixins';


body
{
	background-color: $backgroundColor;
}

#burntIcingEditor
{
	position: relative;
	left: -20%;
	max-width: $editorPreviewWidth;
	margin: auto;
	margin-bottom: $editorMainToolbarHeight;
	padding-top: 8px;
	padding-bottom: 160px;
	font-family: $mainFontFamily;
	
	.mainToolbar
	{
		position: fixed;
		z-index: $zIndexMainToolbar;
		bottom: 0;
		left: 0;
		right: 0;
		//display: flex;
		box-sizing: border-box;
		height: $editorMainToolbarHeight;
		padding-left: 20px;
		padding-top: 8px;
		text-align: center;
		background-color: rgba($backgroundColor, 0.9);
		//background-color: rgba($darkLiftColor, 0.9);
		
		opacity: 0.95;
		transition: opacity $hoverTransitionDuration ease-out;
		&:hover {
			opacity: 1.0;
		}
		
		.toolbarButton
		{
			@include toolbarButton_light();
			
			margin-right: 10px;
		}
		.toolbarButton-selected
		{
			@include toolbarButton_dark();
		}
	}
	.mainToolbar_availableDocumentsSelect,
	.mainToolbar_availableDocumentsSingle {
		display: inline-block;
		margin-left: 1em;
		//min-width: 100px;
		font-style: italic;
		
		@if false {
			border: 1px solid $toolbarButtonTextColor;
			background-color: $backgroundColor;
			-webkit-appearance: none;
		}
	}
	
	
	.blocks
	{
		transition: left $editSliderTransitionDuration ease-out, background-color $hoverTransitionDuration ease;
		
		&:hover {
			//background-color: rgba(black, 0.025);
		}
	}
	
	
	.blocks_makeSubsection
	{
		position: relative;
		visibility: hidden;
		margin: auto;
		width: 60%;
	}
	.blocks:hover .blocks_makeSubsection,
	.blocks_makeSubsection-active,
	.blocks_changeSubsection-hasSelectedSubsectionType {
		visibility: visible;
	}
	.blocks_makeSubsection button {
		@extend %toolbarButton_small;
		display: block;
		width: 100%;
	}
	.blocks_makeSubsection_mainButton {
		//@extend %toolbarButton_light;
		opacity: (1.0/28.0);
		//margin-top: 4px;
		//margin-bottom: 4px;
	}
	.blocks_changeSubsection-hasSelectedSubsectionType .blocks_makeSubsection_mainButton {
		opacity: 0.5;
	}
	.blocks_makeSubsection-active .blocks_makeSubsection_mainButton,
	.blocks_makeSubsection_mainButton:hover {
		opacity: 1.0;
		@extend %toolbarButton_light_hover;
	};
	
	.blocks_makeSubsection_choices {
		position: absolute;
		//opacity: 0.98;
		width: 80%;
		left: 10%;
		//width: 50%;
		//left: 25%;
		//margin-top: -4px;
		z-index: $zIndexActiveMenu;
		background-color: $toolbarButtonSelectedBackgroundColor;
		
		button {
			@extend %toolbarButton_dark;
			
			&:hover {
				@extend %toolbarButton_dark_hover;
			};
		}
	}
	
	
	.block
	{
		position: relative;
		//margin-bottom: 20px;
		font-size: 15px;
		line-height: 1.3;
		min-height: ceil(1.3 * 15px);
		transition: background-color $hoverTransitionDuration ease;
	}
	.block-edited
	//.block-hover //.block:hover
	{
		background-color: rgba(white, 0.2);
	}
	
	.block-text-body .text
	{
		
	}
	.block-text-heading .text
	{
		font-size: 36px;
	}
	.block-text-subhead1 .text
	{
		font-size: 24px;
	}
	.block-text-subhead2 .text
	{
		font-size: 21px;
	}
	.block-text-subhead3 .text
	{
		font-size: 18px;
	}
	.block-particular,
	.block-media
	{
		padding: 5px;
		background-color: rgba(black, 0.1);
		
		&:not(.block-edited):hover {
			background-color: rgba(black, 1/16);
		}
		
		&.block-edited,
		&.block-edited:hover {
			background-color: white;
		}
	}
	
	.block-media-externalImage-HTMLRepresentation {
		img {
			max-width: 400px;
		}
	}
	
	
	.subsection {
		@extend %toolbarButton_small;
		
		display: block;
		margin-top: 4px;
		margin-bottom: 4px;
		text-align: center;
		font-size: 10px;
	}
	
	.block-inSubsection-unorderedList {
		&:before {
			content: '•';
			position: absolute;
			left: -0.5em;
		};
	}
	
	.block-inSubsection-orderedList {
		&:before {
			content: attr(data-subsection-child-index) ".";
			position: absolute;
			left: -2.2em;
			min-width: 1.9em; // Leave a little bit of space on the right.
			text-align: right;
			opacity: 0.45;
		}
	}
	
	
	.textItem
	{
		border: 1px dotted transparent;
		transition: background-color $hoverTransitionDuration ease;
	}
	.textItem:not(.textItem-edited):hover
	{
		background-color: rgba(white, 0.2);
	}
	.textItem-edited
	{
		//border: 1px dotted white;
		background-color: white;
	}
	
	.textItem-hasTrait-bold .text
	{
		font-weight: bold;
	}
	.textItem-hasTrait-italic .text
	{
		font-style: italic;
	}
	.textItem-hasTrait-link {
		border-bottom: 1px dotted rgba(20, 200, 255, 1.0);
	}
	
	
	.blockItemToolbar
	{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 100%;
		padding-right: 40px;
		
		button
		{
			@extend %toolbarButton_small;
			display: block;
			width: 100%;
		}
	}
	.blockItemToolbar_typeChooser
	{
		position: relative;
		opacity: 0.25;
	}
	.blockItemToolbar_typeChooser_mainButton
	{
		@extend %toolbarButton_light;
	}
	
	.blockItemToolbar_typeChooser:hover,
	.blockItemToolbar_typeChooser-active {
		opacity: 1.0;
		
		.blockItemToolbar_typeChooser_mainButton {
			background-color: $toolbarButtonBackgroundColor;
		}
	}
	
	.blockItemToolbar_typeChooser_choices
	{
		position: absolute;
		z-index: $zIndexActiveMenu;
		top: 0;
		left: 100%;
		display: flex;
		//align-items: flex-start;
		//flex-wrap: wrap;
		text-align: center;
		background-color: $toolbarButtonSelectedBackgroundColor;
		
		button {
			@extend %toolbarButton_dark;
			
			&:hover {
				@extend %toolbarButton_dark_hover;
			};
		}
	}
	.blockItemToolbar_typeChooser_choices_group {
		padding: 4px;
		
		button {
			padding: 5px 10px;
		}
	}
	.blockItemToolbar_typeChooser_choices_group_title
	{
		@extend %smallUIHeading;
		
		margin: 0;
		padding: 0;
		padding-top: 4px;
		padding-bottom: 4px;
		font-style: italic;
		color: white;
	}
	
	/*
	.block:hover .blockItemToolbar
	{
		opacity: 1.0;
	}
	*/
	
	
	.textItemEditor
	{
		position: absolute;
		left: 100%;
		margin-left: 40px;
		
		textarea
		{
			width: $editorInputWidth;
			height: 140px;
			padding: 10px;
			font-size: 17px;
			line-height: 1.3;
			background-color: $inputBackgroundColor;
			border: none;
		}
	}
	
	.textItemEditor_instructions {
		opacity: 0.25;
		font-size: 11px;
		//color: lighten($toolbarButtonTextColor, 40%);
	}
	.textItemEditor_instructions_split {
		float: right;
	}
	
	.textItemEditor_traitsToolbar
	{
		clear: both;
		
		.buttonHolder {
			display: inline-block;
		}
		
		.toolbarDivider {
			@extend %toolbarDivider;
		}
		.toolbarButton {
			@extend %toolbarButton;
			@extend %toolbarButton_light;
		}
		.toolbarButton,
		.toolbarDivider
		{
			margin-right: 4px;
		}
		
		.toolbarButton:hover {
			@extend %toolbarButton_light_hover;
		}
		.toolbarButton:active {
			@extend %toolbarButton_light_pressed;
		}
		.toolbarButton-selected,
		.toolbarButton-showingFields
		{
			@include toolbarButton_dark;
		}
		
		.toolbarButton-showingFields {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	
	.textItemEditor_blockTraitsToolbar_heading {
		@extend %smallUIHeading;
		
		margin-top: 12px;
		margin-bottom: 4px;
	}
	
	
	.fieldsHolder,
	.choice
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	
	.fieldsHolder
	{
		margin: 0 (-$fieldsPadding);
		
		.inputLabel,
		.choice,
		.choice_fieldsHolder
		{
			flex: 4 0 100%;
			box-sizing: border-box;
		}
		
		.inputLabel,
		.choice_fieldsHolder
		{
			padding: 0 $fieldsPadding;
		}
		.inputLabel-inputType-number-integer {
			flex: 2 0 33.333333%;
			//padding-right: 10px;
			/*
			+ .inputLabel-inputType-number-integer {
				padding-right: 0;
				padding-left: 10px;
			}
			*/
		}
		
		.inputLabel_title {
			display: block;
			font-size: 10px;
		}
		
		.input-textual,
		.choice_select {
			box-sizing: border-box;
			display: block;
			min-width: 100%;
			margin: 0;
			margin-bottom: 8px;
			font-size: 12px;
			line-height: 1.3;
		}
		
		.input-textual {
			border: none;
			padding: 2px 4px;
		}
	}
	.choice_fieldsHolder {
		// Nested fields get an indent.
		padding-left: 20px;
	}
	
	.traitFieldsHolder {
		position: absolute;
		z-index: 1000;
		left: 0;
		width: 280px;
		margin-bottom: 10px;
		padding: 12px;
		background-color: $toolbarButtonSelectedBackgroundColor;
		border-radius: $boxBorderRadius;
		
		.inputLabel_title {
			color: white;
		}
		
		.removeButton {
			margin-top: 2px;
			
			& {
				@extend %toolbarButton;
				@extend %toolbarButton_dark;
				@extend %toolbarButton_dark_hover;
			}
			&:hover,
			&:active {
				@extend %toolbarButton_light;
				@extend %toolbarButton_light_hover;
			}
		}
	}
	.textItemEditor_traitsToolbar .buttonHolder:first-child .traitFieldsHolder
	{
		border-top-left-radius: 0;
	}
	
	
	.particularEditor
	{
		position: absolute;
		top: 0;
		left: 100%;
		width: $editorInputWidth;
		margin-left: 40px;
		
		.inputLabel_title {
			font-size: 12px;
		}
		
		.textItemEditor_blockTraitsToolbar {
			margin-top: 20px;
		}
	}
	
	
	.blocks_rearrange_moveHereButton {
		@include toolbarButton_light();
	}
	
	
	.previewHTMLHolder {
		font-family: inherit;
		white-space: pre-wrap;
		font-size: 13px;
		line-height: 1.3;
		
		code {
			//font-family: "Courier", monospace;
			font-family: inherit;
		}
	}
	
	
	@media (max-width: 1100px) {
		left: 0;
		
		.blocks {
			position: relative;
			left: 0;
		}
		.blocks-hasEditedBlock {
			//left: -100%;
			left: -480px;
		}
	}
}

body {
	margin: 0;
	padding: 0;
	padding-bottom: $mainFooterHeight;
}

#mainFooter {
	position: fixed;
	z-index: $zIndexMainToolbar + 100;
	bottom: 0;
	left: 0;
	height: $mainFooterHeight;
	font-family: $mainFontFamily;
	background-color: rgba($backgroundColor, 0.9);
	
	p {
		opacity: 0.4;
		margin: 0;
		padding-top: 4px;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 10px;
	}
}