$backgroundColor: #f8f8f8;
$backgroundColor: #eee;
$toolbarButtonTextColor: #111;
$toolbarButtonBackgroundColor: #f7f7f7;
$toolbarButtonSelectedTextColor: white;
//$toolbarButtonSelectedBackgroundColor: #404040;
$toolbarButtonSelectedBackgroundColor: #6a6a6a;
$inputBackgroundColor: white;

$editSliderTransitionDuration: 0.7s;
$hoverTransitionDuration: 0.25s;

%toolbarItem
{
	display: inline-block;
	margin: 0;
	padding: 3px 6px;
	font-size: 12px;
	white-space: nowrap;
	border: none;
	background: none;
}
%toolbarButton_small
{
	@extend %toolbarItem;
	
	padding: 3px 6px;
	font-size: 10px;
}
%toolbarDivider
{
	@extend %toolbarItem;
}
%toolbarButton
{
	@extend %toolbarItem;
	
	border-radius: 2px;
}
%toolbarButton_light
{
	color: $toolbarButtonTextColor;
	background-color: $toolbarButtonBackgroundColor;
}
%toolbarButton_light_hover
{
	background-color: lighten($toolbarButtonBackgroundColor, 5.5%);
}
%toolbarButton_dark
{
	color: $toolbarButtonSelectedTextColor;
	background-color: $toolbarButtonSelectedBackgroundColor;
}
%toolbarButton_dark_hover
{
	background-color: darken($toolbarButtonSelectedBackgroundColor, 5.5%);
}
%toolbarButton_light_pressed
{
	@extend %toolbarButton_dark;
	@extend %toolbarButton_dark_hover;
}
%toolbarButton_dark_pressed
{
	@extend %toolbarButton_light;
	@extend %toolbarButton_light_hover;
}

@mixin toolbarButton_light() {
	& {
		@extend %toolbarButton;
		@extend %toolbarButton_light;
	}
	&:hover {
		@extend %toolbarButton_light_hover;
	}
	&:active {
		@extend %toolbarButton_light_pressed;
	}
}
@mixin toolbarButton_dark() {
	& {
		@extend %toolbarButton;
		@extend %toolbarButton_dark;
	}
	&:hover {
		@extend %toolbarButton_dark_hover;
	}
	&:active {
		@extend %toolbarButton_dark_pressed;
	}
}

%secondaryButton
{
	@extend %toolbarItem;
	
	font-size: 11px;
	line-height: 1.2;
	padding: 3px;
	color: #888;
	border-radius: 2px;
}
%secondaryButton-hover
{
	color: #444;
	background-color: rgba(white, 0.3);
}

$zIndexMainToolbar: 1000;
$zIndexActiveMenu: 2000;

body
{
	background-color: $backgroundColor;
}

$editorMainToolbarHeight: 48px;
$editorPreviewWidth: 400px;
$editorInputWidth: 500px;

$editorMainToolbarFontSize: 14px;

#burntIcingEditor
{
	position: relative;
	font-family: 'Helvetica Neue', sans-serif;
	max-width: $editorPreviewWidth;
	margin: auto;
	margin-top: $editorMainToolbarHeight + 4px;
	left: -20%;
	padding-bottom: 160px;
	
	
	.mainToolbar
	{
		position: fixed;
		z-index: $zIndexMainToolbar;
		top: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
		height: $editorMainToolbarHeight;
		padding-left: 20px;
		padding-top: 11px;
		text-align: center;
		background-color: rgba($backgroundColor, 0.9);
		
		.toolbarButton
		{
			@include toolbarButton_light();
			
			font-size: $editorMainToolbarFontSize;
		}
		.toolbarButton-selected
		{
			@include toolbarButton_dark();
		}
	}
	.mainToolbar_availableDocumentsSelect,
	.mainToolbar_availableDocumentsSingle {
		display: inline-block;
		margin-left: 1em;
		//min-width: 100px;
		font-size: $editorMainToolbarFontSize;
		font-style: italic;
		
		@if false {
			border: 1px solid $toolbarButtonTextColor;
			background-color: $backgroundColor;
			-webkit-appearance: none;
		}
	}
	
	
	.blocks
	{
		transition: left $editSliderTransitionDuration ease-out, background-color $hoverTransitionDuration ease;
		
		&:hover {
			//background-color: rgba(black, 0.025);
		}
	}
	
	
	.blocks_makeSubsection
	{
		position: relative;
		visibility: hidden;
	}
	.blocks:hover .blocks_makeSubsection,
	.blocks_makeSubsection-active,
	.blocks_changeSubsection-hasSelectedSubsectionType {
		visibility: visible;
	}
	.blocks_makeSubsection_mainButton,
	.blocks_makeSubsection_choices > * {
		@extend %toolbarButton_small;
		display: block;
		width: 100%;
	}
	.blocks_makeSubsection_mainButton {
		//@extend %toolbarButton_light;
		opacity: 0.1;
		//margin-top: 4px;
		//margin-bottom: 4px;
	}
	.blocks_changeSubsection-hasSelectedSubsectionType .blocks_makeSubsection_mainButton {
		opacity: 0.5;
	}
	.blocks_makeSubsection-active .blocks_makeSubsection_mainButton,
	.blocks_makeSubsection_mainButton:hover {
		opacity: 1.0;
		@extend %toolbarButton_light_hover;
	};
	
	.blocks_makeSubsection_choices {
		position: absolute;
		width: 50%;
		left: 25%;
		//margin-top: -4px;
		z-index: $zIndexActiveMenu;
		background-color: $toolbarButtonSelectedBackgroundColor;
		
		> * {
			@extend %toolbarButton_dark;
			
			&:hover {
				@extend %toolbarButton_dark_hover;
			};
		}
	}
	
	
	.block
	{
		position: relative;
		//margin-bottom: 20px;
		font-size: 15px;
		line-height: 1.3;
		min-height: 1.3 * 15px;
		transition: background-color $hoverTransitionDuration ease;
		
		&.block-edited,
		&:not(.block-subsection):hover {
			background-color: rgba(white, 0.25);
		}
	}
	.block-body
	{
		
	}
	.block-heading
	{
		font-size: 36px;
	}
	.block-subhead1
	{
		font-size: 24px;
	}
	.block-subhead2
	{
		font-size: 21px;
	}
	.block-subhead3
	{
		font-size: 18px;
	}
	.block-placeholder
	{
		padding: 5px;
		background-color: rgba(black, 0.1);
		
		&:hover {
			background-color: rgba(black, 1/16);
		}
		
		&.block-edited {
			background-color: white;
		}
	}
	
	.subsection {
		@extend %toolbarButton_small;
		
		display: block;
		margin-top: 4px;
		margin-bottom: 4px;
		text-align: center;
		font-size: 10px;
	}
	
	.block-subsectionType-unorderedList {
		&:before {
			content: '•';
			position: absolute;
			left: -0.5em;
		};
	}
	
	.block-subsectionType-orderedList {
		&:before {
			content: attr(data-subsection-child-index) ".";
			position: absolute;
			left: -2.2em;
			min-width: 1.9em; // Leave a little bit of space on the right.
			text-align: right;
			opacity: 0.45;
		}
	}
	
	
	.textItem
	{
		border: 1px dotted transparent;
		transition: background-color $hoverTransitionDuration ease;
	}
	.textItem-edited
	{
		border: 1px dotted white;
		background-color: white;
	}
	.textItem-hasTrait-bold .text
	{
		font-weight: bold;
	}
	.textItem-hasTrait-italic .text
	{
		font-style: italic;
	}
	
	.block-active
	{
		//background-color: #eee;
	}
	
	.blockItemToolbar
	{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 100%;
		opacity: 0.4;
		padding-right: 40px;
		text-align: right;
		
		.toolbarButton
		{
			@extend %toolbarButton;
			@extend %toolbarButton_light;
			
			display: block;
			width: 100%;
			text-align: right;
			background-color: transparent;
		}
		.secondaryButton
		{
			@extend %secondaryButton;
			
			display: none;
			
			&:hover {
				@extend %secondaryButton-hover;
			}
		}
	}
	.blockItemToolbar_typeChooser
	{
		background-color: $toolbarButtonBackgroundColor;
	}
	.block:hover .blockItemToolbar
	{
		opacity: 0.6;
	}
	.block:hover .secondaryButton
	{
		display: inline-block;
	}
	.block-active .blockItemToolbar,
	.block-active:hover .blockItemToolbar
	{
		opacity: 1.0;
		z-index: $zIndexActiveMenu;
	}
	.block-edited .blockItemToolbar .toolbarButton-selected,
	.block-active .blockItemToolbar .toolbarButton-selected
	{
		@extend %toolbarButton_light_hover;
	}
	.block-active .blockItemToolbar .toolbarButton:hover
	{
		@extend %toolbarButton_dark;
	}
	
	
	.textItemEditor
	{
		position: absolute;
		left: 100%;
		margin-left: 40px;
		
		textarea
		{
			width: $editorInputWidth;
			height: 140px;
			padding: 10px;
			font-size: 17px;
			line-height: 1.3;
			background-color: $inputBackgroundColor;
			border: none;
		}
	}
	
	.textItemEditor_instructions {
		font-size: 11px;
		color: lighten($toolbarButtonTextColor, 40%);
	}
	.textItemEditor_instructions_split {
		float: right;
	}
	
	.textItemEditor-toolbar,
	.textItemEditor_traitsToolbar
	{
		clear: both;
		
		.toolbarDivider {
			@extend %toolbarDivider;
		}
		.toolbarButton {
			@extend %toolbarButton;
			@extend %toolbarButton_light;
			
			
		}
		.toolbarButton,
		.toolbarDivider
		{
			margin-right: 4px;
		}
		
		.toolbarButton:hover {
			@extend %toolbarButton_light_hover;
		}
		.toolbarButton:active {
			@extend %toolbarButton_light_pressed;
		}
		.toolbarButton-selected {
			@extend %toolbarButton_dark;
		}
		.toolbarButton-selected:hover {
			@extend %toolbarButton_dark_hover;
		}
		.toolbarButton-selected:active {
			@extend %toolbarButton_dark_pressed;
		}
	}
	.textItemEditor-toolbar-split
	{
		float: right;
		margin-right: 0;
	}
	
	
	.placeholderEditor
	{
		position: absolute;
		left: 100%;
		margin-top: -23px;
		margin-left: 40px;
	}
	.placeholderEditor-IDField
	{
		width: $editorInputWidth;
		padding: 4px 10px;
		font-size: 17px;
		line-height: 1.3;
		background-color: $inputBackgroundColor;
		border: none;
	}
	
	
	.previewHTMLHolder {
		font-family: inherit;
		white-space: pre-wrap;
		font-size: 13px;
		line-height: 1.3;
		
		code {
			//font-family: "Courier", monospace;
			font-family: inherit;
		}
	}
	
	
	@media (max-width: 1100px) {
		left: 0;
		
		.blocks {
			
		}
		.blocks-hasEditedBlock {
			position: relative;
			//left: -100%;
			left: -480px;
		}
	}
}