$backgroundColor: #f8f8f8;
$backgroundColor: #eee;
$toolbarButtonTextColor: #111;
$toolbarButtonBackgroundColor: white;
$toolbarButtonSelectedTextColor: white;
$toolbarButtonSelectedBackgroundColor: #404040;
$inputBackgroundColor: white;

$zIndexActiveMenu: 200;

body
{
	background-color: $backgroundColor;
}

$editorPreviewWidth: 400px;
$editorInputWidth: 500px;

#editor
{
	position: relative;
	font-family: 'Helvetica Neue', sans-serif;
	max-width: $editorPreviewWidth;
	margin: auto;
	margin-top: 40px;
	left: -20%;
	
	
	.block
	{
		position: relative;
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 1.3;
	}
	.block-body
	{
		
	}
	.block-heading
	{
		font-size: 36px;
	}
	.block-subhead1
	{
		font-size: 24px;
	}
	.block-subhead2
	{
		font-size: 21px;
	}
	.block-subhead2
	{
		font-size: 15px;
	}
	.block-placeholder
	{
		padding: 5px;
		background-color: rgba(black, 0.2);
	}
	
	
	.textItem
	{
		border: 1px dotted #eee;
	}
	.textItem-active
	{
		
	}
	.textItem-bold
	{
		font-weight: bold;
	}
	.textItem-italic
	{
		font-style: italic;
	}
	
	.block-active
	{
		//background-color: #eee;
	}
	.block-active .textItem
	{
		//opacity: 0.4;
	}
	.block-active .textItem-active
	{
		border: 1px dotted white;
		background-color: white;
	}
	
	
	.toolbarButton,
	.toolbarDivider
	{
		font-size: 12px;
	}
	.toolbarButton
	{
		margin: 0;
		color: $toolbarButtonTextColor;
		background-color: $toolbarButtonBackgroundColor;
		border: none;
		white-space: nowrap;
		
	}
	.toolbarButton-selected
	{
		color: $toolbarButtonSelectedTextColor;
		background-color: $toolbarButtonSelectedBackgroundColor;
	}
	
	
	.blockItemToolbar
	{
		position: absolute;
		top: 0;
		right: 100%;
		opacity: 0.4;
		margin-right: 40px;
		text-align: right;
		background-color: white;
		
		.toolbarButton
		{
			display: block;
			width: 100%;
			text-align: right;
			color: $toolbarButtonTextColor;
			background-color: transparent;
		}
	}
	.block:hover .blockItemToolbar
	{
		opacity: 0.6;
	}
	.block-active .blockItemToolbar,
	.block-active:hover .blockItemToolbar
	{
		opacity: 1.0;
		z-index: $zIndexActiveMenu;
	}
	.block-active .blockItemToolbar .toolbarButton-selected
	{
		color: $toolbarButtonSelectedTextColor;
		background-color: $toolbarButtonSelectedBackgroundColor;
	}
	.block-active .blockItemToolbar .toolbarButton:not(.toolbarButton-selected):hover
	{
		background-color: #f8f8f8;
	}
	
	
	.textItemEditor
	{
		position: absolute;
		left: 100%;
		margin-top: -33px - 8px;
		margin-left: 40px;
		
		textarea
		{
			width: $editorInputWidth;
			height: 140px;
			margin-top: 8px;
			padding: 10px;
			font-size: 17px;
			line-height: 1.3;
			background-color: $inputBackgroundColor;
			border: none;
		}
	}
	.textItemEditor-toolbar,
	.itemEditor-traits-toolbar
	{
		.toolbarButton
		{
			margin-right: 4px;
		}
	}
	.textItemEditor-toolbar-split
	{
		float: right;
		margin-right: 0;
	}
}