@charset "UTF-8";
/* line 2, ../../src/styles/_mixins.scss */
#burntIcingEditor .blockItemToolbar_typeChooser_choices_group_title,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group_title, #burntIcingEditor .textItemEditor_blockTraitsToolbar_heading {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: normal;
}

/* line 20, ../../src/styles/_mixins.scss */
#burntIcingEditor .blocks_makeSubsection_mainButton, #burntIcingEditor .blocks_makeSubsection_choices button, #burntIcingEditor .subsection, #burntIcingEditor .blockItemToolbar_typeChooser_mainButton,
#burntIcingEditor .blocks_addBlock_typeChooser_mainButton, #burntIcingEditor .blockItemToolbar_typeChooser_choices_group .toolbarButton,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group .toolbarButton, #burntIcingEditor .block_reorder_moveThisButton,
#burntIcingEditor .block_reorder_keepHereButton, #burntIcingEditor .block_reorder_moveHere_button, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarDivider, #burntIcingEditor .mainToolbar .toolbarButton, #burntIcingEditor .mainToolbar .toolbarButton-selected, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-showingFields, #burntIcingEditor .traitFieldsHolder .removeButton,
#burntIcingEditor .traitFieldsHolder .doneButton {
  display: inline-block;
  margin: 0;
  padding: 3px 6px;
  font-size: 12px;
  white-space: nowrap;
  border: none;
  background: none;
}

/* line 30, ../../src/styles/_mixins.scss */
#burntIcingEditor .blocks_makeSubsection_mainButton, #burntIcingEditor .blocks_makeSubsection_choices button, #burntIcingEditor .subsection, #burntIcingEditor .blockItemToolbar_typeChooser_mainButton,
#burntIcingEditor .blocks_addBlock_typeChooser_mainButton, #burntIcingEditor .blockItemToolbar_typeChooser_choices_group .toolbarButton,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group .toolbarButton, #burntIcingEditor .block_reorder_moveThisButton,
#burntIcingEditor .block_reorder_keepHereButton, #burntIcingEditor .block_reorder_moveHere_button {
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 2px;
}

/* line 42, ../../src/styles/_mixins.scss */
#burntIcingEditor .mainToolbar .toolbarButton, #burntIcingEditor .mainToolbar .toolbarButton-selected, #burntIcingEditor .blocks_makeSubsection_mainButton, #burntIcingEditor .blocks_makeSubsection_choices button, #burntIcingEditor .blockItemToolbar_typeChooser_mainButton,
#burntIcingEditor .blocks_addBlock_typeChooser_mainButton, #burntIcingEditor .blockItemToolbar_typeChooser_choices_group .toolbarButton,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group .toolbarButton, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-showingFields, #burntIcingEditor .traitFieldsHolder .removeButton,
#burntIcingEditor .traitFieldsHolder .doneButton, #burntIcingEditor .block_reorder_moveThisButton,
#burntIcingEditor .block_reorder_keepHereButton, #burntIcingEditor .block_reorder_moveHere_button {
  border-radius: 2px;
}

/* line 48, ../../src/styles/_mixins.scss */
#burntIcingEditor .mainToolbar .toolbarButton, #burntIcingEditor .blocks_makeSubsection_mainButton, #burntIcingEditor .blockItemToolbar_typeChooser_mainButton,
#burntIcingEditor .blocks_addBlock_typeChooser_mainButton, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton, #burntIcingEditor .traitFieldsHolder .removeButton:hover, #burntIcingEditor .traitFieldsHolder .removeButton:active,
#burntIcingEditor .traitFieldsHolder .doneButton:hover,
#burntIcingEditor .traitFieldsHolder .doneButton:active, #burntIcingEditor .block_reorder_moveThisButton,
#burntIcingEditor .block_reorder_keepHereButton, #burntIcingEditor .block_reorder_moveHere_button {
  color: #111111;
  background-color: #f7f7f7;
}

/* line 53, ../../src/styles/_mixins.scss */
#burntIcingEditor .mainToolbar .toolbarButton:hover, #burntIcingEditor .blocks_makeSubsection_mainButton:hover, #burntIcingEditor .blocks_makeSubsection-active .blocks_makeSubsection_mainButton, #burntIcingEditor .blockItemToolbar_typeChooser_mainButton:hover,
#burntIcingEditor .blocks_addBlock_typeChooser_mainButton:hover, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton:hover, #burntIcingEditor .traitFieldsHolder .removeButton:hover, #burntIcingEditor .traitFieldsHolder .removeButton:active,
#burntIcingEditor .traitFieldsHolder .doneButton:hover,
#burntIcingEditor .traitFieldsHolder .doneButton:active, #burntIcingEditor .block_reorder_moveThisButton:hover,
#burntIcingEditor .block_reorder_keepHereButton:hover, #burntIcingEditor .block_reorder_moveHere_button:hover {
  background-color: white;
}

/* line 57, ../../src/styles/_mixins.scss */
#burntIcingEditor .mainToolbar .toolbarButton:active, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton:active, #burntIcingEditor .mainToolbar .toolbarButton-selected, #burntIcingEditor .blocks_makeSubsection_choices button, #burntIcingEditor .blockItemToolbar_typeChooser_choices_group .toolbarButton,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group .toolbarButton, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-showingFields, #burntIcingEditor .traitFieldsHolder .removeButton,
#burntIcingEditor .traitFieldsHolder .doneButton {
  color: white;
  background-color: #5f5f5f;
}

/* line 62, ../../src/styles/_mixins.scss */
#burntIcingEditor .mainToolbar .toolbarButton:active, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton:active, #burntIcingEditor .mainToolbar .toolbarButton-selected:hover, #burntIcingEditor .blocks_makeSubsection_choices button:hover, #burntIcingEditor .blockItemToolbar_typeChooser_choices_group .toolbarButton:hover,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group .toolbarButton:hover, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected:hover,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-showingFields:hover, #burntIcingEditor .traitFieldsHolder .removeButton,
#burntIcingEditor .traitFieldsHolder .doneButton {
  background-color: #686868;
}

/* line 66, ../../src/styles/_mixins.scss */
#burntIcingEditor .blocks_makeSubsection_mainButton:active, #burntIcingEditor .blockItemToolbar_typeChooser_mainButton:active,
#burntIcingEditor .blocks_addBlock_typeChooser_mainButton:active, #burntIcingEditor .block_reorder_moveThisButton:active,
#burntIcingEditor .block_reorder_keepHereButton:active, #burntIcingEditor .block_reorder_moveHere_button:active {
  background-color: #f4f4f4;
}

/* line 75, ../../src/styles/_mixins.scss */
#burntIcingEditor .mainToolbar .toolbarButton-selected:active, #burntIcingEditor .blocks_makeSubsection_choices button:active, #burntIcingEditor .blockItemToolbar_typeChooser_choices_group .toolbarButton:active,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group .toolbarButton:active, #burntIcingEditor .blockItemToolbar_typeChooser_choices_group .toolbarButton-selected,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group .toolbarButton-selected, #burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-selected:active,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-showingFields:active {
  background-color: #515151;
}

/* line 7, ../../src/styles/main.scss */
html,
body {
  min-height: 100%;
}

/* line 11, ../../src/styles/main.scss */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  background-color: #efefef;
}

/* line 20, ../../src/styles/main.scss */
#mainFooter {
  position: fixed;
  z-index: 1100;
  bottom: 0;
  left: 0;
  height: 20px;
  font-family: "Helvetica Neue", sans-serif;
  background-color: rgba(239, 239, 239, 0.9);
}
/* line 29, ../../src/styles/main.scss */
#mainFooter p {
  opacity: 0.4;
  margin: 0;
  padding-top: 4px;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 10px;
}

/* line 40, ../../src/styles/main.scss */
#burntIcingEditor {
  max-width: 400px;
  width: 40vw;
  margin: auto;
  margin-bottom: 40px;
  padding-top: 8px;
  padding-bottom: 160px;
  font-family: "Helvetica Neue", sans-serif;
  /*
  .block:hover .blockItemToolbar
  {
  	opacity: 1.0;
  }
  */
}
/* line 52, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding-left: 20px;
  padding-top: 8px;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.9);
  opacity: 0.95;
  -webkit-transition: opacity 0.25s ease-out;
          transition: opacity 0.25s ease-out;
}
/* line 69, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar:hover {
  opacity: 1.0;
}
/* line 74, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar .toolbarButton {
  margin-right: 10px;
}
/* line 85, ../../src/styles/_mixins.scss */
#burntIcingEditor .mainToolbar .toolbarButton {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 85, ../../src/styles/main.scss */
#burntIcingEditor .mainToolbar_availableDocumentsSelect,
#burntIcingEditor .mainToolbar_availableDocumentsSingle {
  display: inline-block;
  margin-left: 1em;
  font-style: italic;
}
/* line 99, ../../src/styles/main.scss */
#burntIcingEditor .blocks {
  position: relative;
  left: -15vw;
  -webkit-transition: left 0.7s ease-out, background-color 0.25s ease;
          transition: left 0.7s ease-out, background-color 0.25s ease;
}
/* line 111, ../../src/styles/main.scss */
#burntIcingEditor .blocks_makeSubsection {
  position: relative;
  visibility: hidden;
  margin: auto;
  width: 60%;
}
/* line 119, ../../src/styles/main.scss */
#burntIcingEditor .blocks:hover .blocks_makeSubsection,
#burntIcingEditor .blocks_makeSubsection-active,
#burntIcingEditor .blocks_changeSubsection-hasSelectedSubsectionType {
  visibility: visible;
}
/* line 122, ../../src/styles/main.scss */
#burntIcingEditor .blocks_makeSubsection_mainButton {
  display: block;
  margin: auto;
  opacity: 0.03571;
}
/* line 85, ../../src/styles/_mixins.scss */
#burntIcingEditor .blocks_makeSubsection_mainButton {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 132, ../../src/styles/main.scss */
#burntIcingEditor .blocks_changeSubsection-hasSelectedSubsectionType .blocks_makeSubsection_mainButton {
  opacity: 0.5;
}
/* line 136, ../../src/styles/main.scss */
#burntIcingEditor .blocks_makeSubsection-active .blocks_makeSubsection_mainButton,
#burntIcingEditor .blocks_makeSubsection_mainButton:hover {
  opacity: 1.0;
}
/* line 142, ../../src/styles/main.scss */
#burntIcingEditor .blocks_makeSubsection_choices {
  position: absolute;
  width: 60%;
  left: 20%;
  z-index: 2000;
  background-color: #5f5f5f;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 152, ../../src/styles/main.scss */
#burntIcingEditor .blocks_makeSubsection_choices button {
  display: block;
  width: 100%;
}
/* line 162, ../../src/styles/main.scss */
#burntIcingEditor .block {
  position: relative;
  font-size: 15px;
  line-height: 1.3;
  min-height: 20px;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
/* line 172, ../../src/styles/main.scss */
#burntIcingEditor .block-edited {
  background-color: rgba(0, 0, 0, 0.025);
}
/* line 180, ../../src/styles/main.scss */
#burntIcingEditor .block-particular,
#burntIcingEditor .block-media {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 184, ../../src/styles/main.scss */
#burntIcingEditor .block-particular:not(.block-edited):hover,
#burntIcingEditor .block-media:not(.block-edited):hover {
  background-color: rgba(0, 0, 0, 0.0625);
}
/* line 189, ../../src/styles/main.scss */
#burntIcingEditor .block-particular.block-edited, #burntIcingEditor .block-particular.block-edited:hover,
#burntIcingEditor .block-media.block-edited,
#burntIcingEditor .block-media.block-edited:hover {
  background-color: white;
}
/* line 195, ../../src/styles/main.scss */
#burntIcingEditor .block-media-externalImage-HTMLRepresentation img {
  max-width: 400px;
}
/* line 201, ../../src/styles/main.scss */
#burntIcingEditor .subsection {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 10px;
}
/* line 214, ../../src/styles/main.scss */
#burntIcingEditor .textItem .text {
  border: 1px dotted transparent;
  -webkit-transition: background-color 0.25s ease;
          transition: background-color 0.25s ease;
}
/* line 221, ../../src/styles/main.scss */
#burntIcingEditor .textItem:not(.textItem-edited):hover .text {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 225, ../../src/styles/main.scss */
#burntIcingEditor .textItem-edited .text {
  background-color: white;
}
/* line 232, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar, #burntIcingEditor .blocks_addBlock {
  position: absolute;
  right: 100%;
  padding-right: 3vw;
}
/* line 239, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar {
  top: 0;
  bottom: 0;
}
/* line 252, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar_typeChooser,
#burntIcingEditor .blocks_addBlock_typeChooser {
  position: relative;
}
/* line 85, ../../src/styles/_mixins.scss */
#burntIcingEditor .blockItemToolbar_typeChooser_mainButton,
#burntIcingEditor .blocks_addBlock_typeChooser_mainButton {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 263, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar_typeChooser {
  opacity: 0.25;
}
/* line 269, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar_typeChooser:hover,
#burntIcingEditor .blockItemToolbar_typeChooser-active,
#burntIcingEditor .block-edited .blockItemToolbar_typeChooser {
  opacity: 1.0;
}
/* line 275, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar_typeChooser_choices,
#burntIcingEditor .blocks_addBlock_typeChooser_choices {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #5f5f5f;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 291, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar_typeChooser_choices_group,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group {
  padding: 4px;
}
/* line 294, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar_typeChooser_choices_group .toolbarButton,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group .toolbarButton {
  display: block;
  padding: 5px 10px;
}
/* line 306, ../../src/styles/main.scss */
#burntIcingEditor .blockItemToolbar_typeChooser_choices_group_title,
#burntIcingEditor .blocks_addBlock_typeChooser_choices_group_title {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-style: italic;
  color: white;
}
/* line 326, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor {
  position: absolute;
  left: 100%;
  margin-left: 3vw;
}
/* line 332, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 40vw;
  width: 500px;
  height: 140px;
  padding: 10px;
  font-size: 17px;
  line-height: 1.3;
  background-color: white;
  border: none;
}
/* line 345, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_instructions {
  overflow: hidden;
  opacity: 0.25;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 4px;
}
/* line 352, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_instructions_keyShortcuts {
  float: right;
}
/* line 357, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_traitsToolbar {
  clear: both;
}
/* line 360, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_traitsToolbar .buttonHolder {
  display: inline-block;
}
/* line 366, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton,
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarDivider {
  margin-right: 4px;
}
/* line 85, ../../src/styles/_mixins.scss */
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 397, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_traitsToolbar .toolbarButton-showingFields {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 403, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_blockTraitsToolbar_heading {
  margin-top: 12px;
  margin-bottom: 4px;
}
/* line 413, ../../src/styles/main.scss */
#burntIcingEditor .fieldsHolder,
#burntIcingEditor .choice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/* line 420, ../../src/styles/main.scss */
#burntIcingEditor .fieldsHolder {
  margin: 0 -10px;
}
/* line 426, ../../src/styles/main.scss */
#burntIcingEditor .fieldsHolder .inputLabel,
#burntIcingEditor .fieldsHolder .choice,
#burntIcingEditor .fieldsHolder .choice_fieldsHolder {
  -webkit-box-flex: 4;
  -webkit-flex: 4 0 100%;
      -ms-flex: 4 0 100%;
          flex: 4 0 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 433, ../../src/styles/main.scss */
#burntIcingEditor .fieldsHolder .inputLabel,
#burntIcingEditor .fieldsHolder .choice_fieldsHolder {
  padding: 0 10px;
}
/* line 436, ../../src/styles/main.scss */
#burntIcingEditor .fieldsHolder .inputLabel-inputType-number-integer {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 33.333333%;
      -ms-flex: 2 0 33.333333%;
          flex: 2 0 33.333333%;
  /*
  + .inputLabel-inputType-number-integer {
  	padding-right: 0;
  	padding-left: 10px;
  }
  */
}
/* line 447, ../../src/styles/main.scss */
#burntIcingEditor .fieldsHolder .inputLabel_title {
  display: block;
  font-size: 10px;
}
/* line 453, ../../src/styles/main.scss */
#burntIcingEditor .fieldsHolder .input-textual,
#burntIcingEditor .fieldsHolder .choice_select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  min-width: 100%;
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.3;
}
/* line 463, ../../src/styles/main.scss */
#burntIcingEditor .fieldsHolder .input-textual {
  border: none;
  padding: 2px 4px;
}
/* line 468, ../../src/styles/main.scss */
#burntIcingEditor .choice_fieldsHolder {
  padding-left: 20px;
}
/* line 473, ../../src/styles/main.scss */
#burntIcingEditor .traitFieldsHolder {
  position: absolute;
  z-index: 1000;
  left: 0;
  width: 280px;
  margin-bottom: 10px;
  padding: 12px;
  background-color: #5f5f5f;
  border-radius: 2px;
}
/* line 483, ../../src/styles/main.scss */
#burntIcingEditor .traitFieldsHolder .inputLabel_title {
  color: white;
}
/* line 488, ../../src/styles/main.scss */
#burntIcingEditor .traitFieldsHolder .removeButton,
#burntIcingEditor .traitFieldsHolder .doneButton {
  margin-top: 2px;
}
/* line 502, ../../src/styles/main.scss */
#burntIcingEditor .traitFieldsHolder .doneButton {
  float: right;
}
/* line 507, ../../src/styles/main.scss */
#burntIcingEditor .textItemEditor_traitsToolbar .buttonHolder:first-child .traitFieldsHolder {
  border-top-left-radius: 0;
}
/* line 513, ../../src/styles/main.scss */
#burntIcingEditor .particularEditor {
  position: absolute;
  top: 0;
  left: 100%;
  max-width: 40vw;
  width: 500px;
  margin-left: 3vw;
}
/* line 521, ../../src/styles/main.scss */
#burntIcingEditor .particularEditor .inputLabel_title {
  font-size: 12px;
}
/* line 525, ../../src/styles/main.scss */
#burntIcingEditor .particularEditor .textItemEditor_blockTraitsToolbar {
  margin-top: 20px;
}
/* line 85, ../../src/styles/_mixins.scss */
#burntIcingEditor .block_reorder_moveThisButton,
#burntIcingEditor .block_reorder_keepHereButton {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 538, ../../src/styles/main.scss */
#burntIcingEditor .block_reorder_moveThisButton,
#burntIcingEditor .block_reorder_moveHere {
  -webkit-transition: opacity 0.35s ease;
          transition: opacity 0.35s ease;
}
/* line 543, ../../src/styles/main.scss */
#burntIcingEditor .block_reorder_moveThisButton-hidden,
#burntIcingEditor .block_reorder_moveHere-hidden {
  opacity: 0.0;
}
/* line 547, ../../src/styles/main.scss */
#burntIcingEditor .block_reorder_moveHere {
  position: relative;
  text-align: center;
}
/* line 551, ../../src/styles/main.scss */
#burntIcingEditor .block_reorder_moveHere:after {
  content: '';
  opacity: 0.333;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}
/* line 563, ../../src/styles/main.scss */
#burntIcingEditor .block_reorder_moveHere_button {
  position: relative;
  z-index: 1;
}
/* line 85, ../../src/styles/_mixins.scss */
#burntIcingEditor .block_reorder_moveHere_button {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 571, ../../src/styles/main.scss */
#burntIcingEditor .previewHTMLHolder {
  padding: 1em;
  font-family: inherit;
  white-space: pre-wrap;
  font-size: 13px;
  line-height: 1.3;
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 579, ../../src/styles/main.scss */
#burntIcingEditor .previewHTMLHolder code {
  font-family: inherit;
}
@media (max-width: 850px) {
  /* line 40, ../../src/styles/main.scss */
  #burntIcingEditor {
    max-width: none;
    width: 60vw;
  }
  /* line 606, ../../src/styles/main.scss */
  #burntIcingEditor .blocks {
    position: relative;
    left: 0;
    max-width: 60vw;
  }
  /* line 611, ../../src/styles/main.scss */
  #burntIcingEditor .blocks-hasEditedBlock {
    left: -70vw;
  }
  /* line 616, ../../src/styles/main.scss */
  #burntIcingEditor .textItemEditor {
    position: absolute;
    left: 100%;
    margin-left: 40px;
  }
  /* line 623, ../../src/styles/main.scss */
  #burntIcingEditor .textItemEditor textarea,
  #burntIcingEditor .particularEditor {
    max-width: none;
    width: 70vw;
  }
}
/* line 2, ../../src/styles/_custom-types.scss */
#burntIcingEditor .textItem-hasTrait-bold .text {
  font-weight: bold;
}
/* line 6, ../../src/styles/_custom-types.scss */
#burntIcingEditor .textItem-hasTrait-italic .text {
  font-style: italic;
}
/* line 14, ../../src/styles/_custom-types.scss */
#burntIcingEditor .textItem-hasTrait-link .text {
  border-bottom: 1px dotted #14c8ff;
}
/* line 25, ../../src/styles/_custom-types.scss */
#burntIcingEditor .block-text-heading .text {
  font-size: 36px;
}
/* line 29, ../../src/styles/_custom-types.scss */
#burntIcingEditor .block-text-subhead1 .text {
  font-size: 24px;
}
/* line 33, ../../src/styles/_custom-types.scss */
#burntIcingEditor .block-text-subhead2 .text {
  font-size: 21px;
}
/* line 37, ../../src/styles/_custom-types.scss */
#burntIcingEditor .block-text-subhead3 .text {
  font-size: 18px;
}
/* line 43, ../../src/styles/_custom-types.scss */
#burntIcingEditor .block-inSubsection-unorderedList:before {
  content: '•';
  position: absolute;
  left: -0.5em;
}
/* line 51, ../../src/styles/_custom-types.scss */
#burntIcingEditor .block-inSubsection-orderedList:before {
  content: attr(data-subsection-child-index) ".";
  position: absolute;
  left: -2.2em;
  min-width: 1.9em;
  text-align: right;
  opacity: 0.45;
}
